{% extends 'base.html.twig' %}  

         {% block stylesheets %}
        <link href="{{ asset('css/index.twig.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
{% block body %}   
             <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Mon profil</span>

                <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
                </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="{{ path('app_publications') }}" aria-expanded="false" aria-controls="tables">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title" >Publications récentes
                </span>
                <br>
                </a>

  

          </li>
           
            </ul>
            </nav>
      <div class="main-panel">
      <div class="content-wrapper">
      <div class="card tale-bg">
                <div class="card-people mt-auto">
                  <table>


       <td class="tablePublication"><br>
                <h1> Reset password </h1>
                <br><br>

{{ form_start(ChangePasswordType) }}
        <h3>
{{ form_row(ChangePasswordType.plainPassword.first, {
            label: 'Password :' 
        }) }}
        <br>
        {{ form_row(ChangePasswordType.plainPassword.second, {
            label: 'confirm Password :'
        }) }}
        <br>
        <button type="submit" >Accept</button>
        </h3>
        
    {{ form_end(ChangePasswordType) }}

     </td>              
                   
                  </div>
                </div>
              </div>
          </div>



{% endblock %}

