

{% block title %}{% endblock %}
     {% block stylesheets %}
        <link href="{{ asset('css/register.twig.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}


{% block body %}

    
    <div class="container">
    <center><h1>Register</h1></center>
    {{ form_start(registrationForm) }}
    <br>
        <h3><center>
        {{ form_row(registrationForm.email, {
            label_attr: {'style': 'margin-right: 120px'}
        }) }}
        <br>
        {{ form_row(registrationForm.surname, {
            label_attr: {'style': 'margin-right: 94px'}
        }) }}
        <br>
        {{ form_row(registrationForm.pseudo, {
            label_attr: {'style': 'margin-right: 110px'}
        }) }}
        <br>
        {{ form_row(registrationForm.name, {
            label_attr: {'style': 'margin-right: 122px'}
        }) }}
        <br>
        {{ form_row(registrationForm.plainPassword.first, {
            label: 'Password',
            label_attr: {'style': 'margin-right: 90px'}
        }) }}
        <br>
        {{ form_row(registrationForm.plainPassword.second, {
            label: 'Confirm Password',
            label_attr: {'style': 'margin-right: 18px'}
        }) }}
        <br>
        {{ form_row(registrationForm.agreeTerms) }}
        <br></center>

        
        <center><button type="submit" class="btn">Register</button></center>
        </h3>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
